body {
    font-family: "roboto", sans-serif;
    margin:0px;
    padding: 0px;
    text-align: center;
}

.box-one {
    background-color: #1f2937;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    padding-top: 10px;
}

.title {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bold;
}

.links {
    font-size: 18px;
    color: #e5e7eb;
}

.heromain {
    color:#f9faf8;
    font-size: 48px;
    font-weight: bolder;
}

.text {
    font-size: 24px;
    color: #f9faf8;
    font-weight: lighter;
    display: flex;
    flex-wrap: wrap;
}

button {
    background-color: #3882f6;
    color: white;
    border:none;
    text-align:center;
    font-weight: bold;
    padding: 5px;
    border-radius: 8px;
    width: 90px;
    height: 30px;
}

li {
    list-style-type: none;
}

ul {
    display: flex;
    flex-direction: row;
    gap: 25px;
}

.boxyone {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 100px 0 100px;
    margin: 0 100px 100px 150px;
    
}

.img {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;;
    margin: 100px 50px 100px 30px;
}

.subtitle {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    text-align: center;
    margin: 30px;
}

.imgs {
    display: flex;
    justify-content: center;
    gap: 50px;
}

.subtext {
    display: flex;
    justify-content: center;
    gap: 140px;
    margin: 30px;
}

.box-three {
    background-color: #e5e7eb;
    padding: 50px;
}

.quote {
    font-size: 36px;
    font-weight:lighter;
    font-style: italic;
    color: #1f2937;
    padding: 0 200px;
}

.thor {
    font-size: 20px;
    font-weight: bold;
    display:flex;
    justify-content: flex-end;
    color: #1f2937;
    padding: 0 200px;
}

.box-four {
    padding: 0 10px;
}
.boxy-two {
    background-color: #3882f6;
    margin: 50px 200px;
    padding: 25px 50px;
    border-radius: 8px;
}

.action {
    font-size: large;
    color: white;
    display: flex;
    justify-content: space-around;
    align-items: center;

}


.buttontwo {
    border:2px solid white;
    display: flex;
    justify-content: center;
    border-radius: 8px;
    padding: 0px
}

.box-five {
    background-color: #1f2937;
    padding: 30px;
}

.copy {
    color: white;
    display: flex;
    justify-content: center;

}